#edit-post {
    margin: 30px;
    background-color: var(--secondary-bg-color);
    padding: 20px;
}

#edit-post-title {
    margin: 0;
}

#sep-from-title {
    margin: 20px 0;
}

label[for="post-title"] {
    display: block;
    margin: 10px 0;
}

#post-title {
    background-color: var(--secondary-bg-color);
}

label[for="post-content"] {
    display: block;
    margin: 10px 0;
}

#post-content.ql-container {
    min-height: 400px;
}

#submit-buttons {
    margin: 10px 5px;
}

.submit-button {
    margin: 0 5px;
}

#save-notification {
    color: var(--text-color3);
    font-style: italic;
}