#create-post {
    margin: 30px;
    background-color: var(--secondary-bg-color);
    padding: 20px;
}

#create-post-title {
    margin: 0;
}

#sep-from-title {
    margin: 20px 0;
}

label[for="post-title"] {
    display: block;
    margin: 10px 0;
}

label[for="post-content"] {
    display: block;
    margin: 10px 0;
}

#post-content.ql-container {
    min-height: 400px;
}

#submit-btn {
    margin-top: 10px;
    background-color: var(--accent-color);
    border: var(--accent-color) solid 1px;
    border-radius: 5px;

    color: var(--primary-bg-color);
    font-size: x-large;
    font-weight: bold;
}

#submit-btn:hover {
    transition-duration: 0.2s;
    transition-property: all;
    color: var(--accent-color);
    background-color: var(--primary-bg-color);
}